@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap");
@import "tailwindcss";

:root {
    @apply bg-background text-body font-family;
}

@theme {
    --font-family: 'Manrope', sans-serif;

    /* Colors */

    --color-primary: #2563EB;
    --color-primary-hover: #1D4ED8;

    --color-background: #FFFFFF;
    --color-surface: #F9FAFB;
    --color-border: #E5E7EB;

    --color-heading: #111827;
    --color-body: #374151;
    --color-muted: #6B7280;

    --color-success: #16A34A;
    --color-error: #DC2626;
    --color-info: #0B70F5;

}

@layer base {
    html {
        @apply scroll-smooth;
    }

    button {
        @apply cursor-pointer;
    }
}

@layer components {

    /* Font Sizes */
    .text-imgplaceholder {
        @apply text-[12vw] font-medium;
    }

    .text-header1 {
        @apply text-[24px] font-bold;
    }

    .text-header2 {
        @apply text-[20px] font-bold;
    }

    .text-header3 {
        @apply text-[16px] font-semibold;
    }

    .text-bodytext {
        @apply text-[14px] font-normal;
    }

    .text-small {
        @apply text-[12px] font-normal;
    }

    .text-inputlabel {
        @apply text-[14px] font-bold text-gray-700;
    }

    @media (min-width: 768px) {
        .text-header1 {
            @apply text-[32px];
        }

        .text-header2 {
            @apply text-[24px];
        }

        .text-header3 {
            @apply text-[18px];
        }

        .text-bodytext {
            @apply text-[16px];
        }

        .text-small {
            @apply text-[14px];
        }

        .text-inputlabel {
            @apply text-[16px];
        }
    }

    /* Buttons */

    .btn-primary {
        @apply bg-primary text-white px-4 py-2 rounded-lg transition-colors duration-200;

        @variant hover {
            @apply bg-primary-hover
        }
    }

    .btn-loading {
        @apply bg-primary text-white px-4 py-2 rounded-lg opacity-70 cursor-not-allowed;
    }

    .btn-error {
        @apply bg-error text-white px-4 py-2 rounded-lg;
    }

    .btn-edit {
        @apply bg-yellow-500 text-white rounded-lg;

        @variant hover {
            @apply bg-yellow-600 transition-colors duration-200
        }
    }

    .btn-delete {
        @apply bg-red-500 text-white rounded-lg;

        @variant hover {
            @apply bg-red-800 transition-colors duration-200
        }
    }

    .bg-disabled {
        @apply bg-blue-400 cursor-not-allowed;

        @variant hover {
            @apply bg-blue-400 cursor-not-allowed
        }
    }

    .venue-card {
        @apply shadow-xl rounded-2xl;

        @variant hover {
            @apply shadow-2xl transition-shadow duration-300
        }
    }

    .input {
        @apply mt-1 block w-full border border-gray-300 rounded-md shadow-sm px-2;

        @variant focus {
            @apply ring-blue-500 border-blue-500;
        }
    }

    a.active {
        @apply text-blue-200 font-semibold;
    }

    /* Date Picker */
    .react-datepicker__day--excluded {
        @apply bg-red-500 text-white cursor-not-allowed;

        color: white !important;
    }

    .react-datepicker__day--selected,
    .react-datepicker__day--in-range {
        @apply bg-primary text-white;

        background-color: var(--color-primary) !important;
        color: white !important;
    }
}